@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  /* background: rgb(28, 28, 40); */
  /* background: rgb(172, 210, 217); */

    
}

html{
    scroll-behavior: smooth;
}

/* navbar ========================================================*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'ubuntu', sans-serif;
    transition: all 0.3s ease;
    /* background-color: #080808; */
}

.navbar.sticky {
    padding: 15px 0;
    background: #0D7377


;
    color: white;
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar.sticky .menu li a:hover {
    color: white;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    /* margin-left: -60px; */
}

.navbar .logo a span {
    /* color: crimson; */
    color: #0D7377
;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #000000;
    font-size: 22px;
    font-weight: 800;
    margin-left: 25px;
}

.navbar .menu li a:hover {
    /* color: crimson; */
    color:#0D7377
;
    border-bottom: 3px solid #0D7377
;
}


/* menu-bar */
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}



/* home-section =====================================================*/
.home {
    display: flex;
    /* background:#0D7377


; */
    /* background-image: url(./image/backgroundimg.jpg); */
    background: url("./image/backgroundimg.jpg") top center no-repeat;
    background-size: cover;
    /* display: flex; */
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    height: 100vh;
    color: #080808;
    min-height: 600px;
    font-family: 'ubuntu', sans-serif;
   
}




.home .max-width {
    margin: auto 0 auto 40px;
    width: 100%;
    display: flex;

}

.home .home-content .text-1 {
    font-size: 50px;
    margin-left: 10px;
    font-weight: 600;
}

.home .home-content .text-2 {
    font-size: 65px;
    font-weight: 500;
    margin-left: -3px;
    color: #0D7377
;
}

.home .home-content .text-3 {
    font-size: 50px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3 span {
    margin-left: -3px;
    /* color: crimson; */
    /* color:#00ffff; */
    font-weight: 300;
}


/* about section ======================================== */

.about{
    /* background: rgb(28, 28, 40); */
    background:#cfe4e3 ;

}
section {
    padding: 100px 0
}

.about,
.contact, footer{
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
    color: #080808;
}

.title span{
    /* color: crimson; */
    color: #ffff
;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.about .about-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width:45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    /* color: rgb(167, 165, 165); */
    color: black;
    font-family: 'Poppins', sans-serif;

}
.about .about-content .right .text span{
    /* color: crimson; */
    /* color: 00ffff; */
    color: #032626;
}

.about .about-content .right p {
    text-align: justify;
    font-size: 20px;
    /* color: rgb(167, 165, 165); */
    color: #333030;
    font-family: 'Poppins', sans-serif;

}

.about .about-content .right a {
    font-size: 20px;
    display: inline-block;
    /* background-color: crimson; */
    background-color: #0D7377
;
    /* color: rgb(167, 165, 165); */
    color: black;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    /* border: 2px solid crimson; */
    border: 2px none;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    /* color: crimson; */
    color: #ffff;
    font-weight: 400;
    background: #000000;

}


/* skills-section======================================================================================================================= */
.skills.section-padding {
    background: #1c1c28;
      
  }
  .skills h3 {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 60px;
      padding-bottom: 20px;
      text-align: center;
      font-family: 'ubuntu', sans-serif;
      color: #ffff
;
      
  }
  
  .skills h2{
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 20px;
      font-family: 'ubuntu', sans-serif;
      color: #ffff
;
  }

  .skills h2 span{
    /* color: crimson; */
    color: #ffff;
  }
  
  .skills .tools_and_tech {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      width: 75%;
      margin: auto;
  }
  .skills .tools_and_tech img,
  .tech-stacks img {
      width: 100px;
      padding: 10px;
    background: #0D7377


;
      border-radius: 6px;
      transition: all 0.4s cubic-bezier(0.38, 0.37, 0.17, 0.83);
  }
  .skills .tools_and_tech img:hover,
  .tech-stacks img:hover {
      box-shadow: 0 0 0 1px rgba(251, 251, 251, 0.497), 0 0 5px rgba(0, 0, 0, 0.527);
  
  }
  body.dark .skills .tools_and_tech img {
      background-color: #20202e;
  }
  
  body.dark .skills .tools_and_tech img:hover,
  body.dark .tech-stacks img:hover {
      box-shadow: 0 0 0 1px rgba(69, 1, 1, 0.3),
          0 0 5px rgba(255, 255, 255, 0.527);
  }

/* project section ------------------------------------------------ */

.project{
  /* background: rgb(28, 28, 40); */
  background: #cfe4e3;

}

.project .project1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;   
}

.project .project1{
    width: 100%;
    height: 350px;
    background: #0D7377


;   
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


}

.project .project1 .left .img{
    width: 650px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius:10px;
    margin-left: 10px;
}



.project .project1 .right{
    /* border: 1px solid red; */
    width: 40%;
    height: 80%;


}

.project .project1 .right .head{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #ffff
;
    margin-bottom: 10px;

}
.project .project1 .right .sub-head a {
    font-size:17px;
    margin-top: 10px;
    margin-left:5px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #ffff
;
    

}
.project .project1 .right p {
    margin-left: 5px;
    margin-top:10px;
    width: 90%;
    font-size:17px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #ffff
;
}


.project .project1 .right .sub-head2{
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-top: 15px;
    color: #ffff
;

}
.project .project1 .right .sub-head2 img{
    font-size: 20px;
    width: 10%;
    margin-top: 5px;
    margin-left:5px;
    padding: 5px 5px;
    border-radius: 10px;
    /* background-color: whitesmoke; */
}


/* contact section */

.contact{
    background: #0D7377;

}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left{
    width:25%;
}
.contact .contact-content .right{
    width:65%;
}
/* .contact .contact-content .left .text{
    margin-bottom: 70px;
} */

.contact .contact-content .text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #080808;
    
}

.contact .contact-content .left .icons {
    margin: 10px 0;
  color: #ffffff;


}

.contact .contact-content .rows {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .rows .git {
    margin-left: 30px;
}

.contact .contact-content .rows i {
    font-size: 60px;
}

.contact .contact-content .git .head {
    font-size: 20px;
    font-weight:400;
    color: #ffff;
}

.contact .contact-content .git .sub-title a {
    /* color: rgb(167, 165, 165); */
    color: #011023;
    font-weight: 300;
    
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .field .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .right form .name {
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .right form .email {
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .field input {
    height: 100%;
    width: 100%;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    /* border: 2px solid crimson; */
    border: 2px solid black;
    /* background: crimson; */
    background: 00ffff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    /* color: crimson; */
    color: #00ffff;
    background: none;
}


/* ---scroll up--- */
.scroll-up, .scroll-up1, .scroll-up2, a{
    color: #fff; 
   
}
.scroll-up{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color:#0D7377
;
    /* right: 30px; */
    left: 30px;
    text-align: center;
    bottom: 10px;
    color: #fff;
    line-height: 45px;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    border-radius: 6px;
    /* opacity: 0; */
    /* pointer-events: none; */
    transition: all 0.3s ease;
}
.scroll-up1{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color:#0D7377
;
    /* right: 30px; */
    left: 30px;
    text-align: center;
    bottom: 60px;
    color: #fff;
    line-height: 45px;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    border-radius: 6px;
    /* opacity: 0; */
    /* pointer-events: none; */
    transition: all 0.3s ease;
}
.scroll-up2{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #0D7377
;
    /* right: 30px; */
    left: 30px;
    text-align: center;
    bottom: 110px;
    color: #fff;
    line-height: 45px;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    border-radius: 6px;
    /* opacity: 0; */
    /* pointer-events: none; */
    transition: all 0.3s ease;
}

/* .scroll-up.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
} */






/* footer section  */
footer{
    background: rgb(28, 28, 40);  
    padding: 20px 23px;
    color: rgb(167, 165, 165);

    text-align: center;
 
}

footer span a{
    /* color: crimson; */
    color: 00ffff;
}

@media only screen and (min-width: 947px) and (max-width:1100px){
    .home .max-width {
        margin-left: 0px;
    }
    .home{
       padding: 1rem 4rem;
    }
    .about .about-content .left img {
        height: 350px;
        width: 350px;
        object-fit: cover;

    }
}


@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
     
}
 
 @media only screen and (min-width: 947px) and (max-width:1100px){
  .project .project1 .left .img{
        height: 280px;
        width: 450px;
        object-fit: cover;
   }
 }
 
 @media only screen and (min-width: 1100px) and (max-width:1270px){
    .project .project1 .left .img{
          height: 280px;
          width: 550px;
          object-fit: cover;
     }
   }


@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0%;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: #ffff;
    }
    .home{
        padding: 1rem 4rem;
     }
    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

 .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
        justify-content: center;
        margin: 0 auto 60px;
    }

  .project .project1{
    width: auto;
    height: auto;
  }

    .project .project1 .left .img{
         max-width: 95%;
        display: flex;
        /* justify-content: center; */
        margin: 0 auto 40px; 
    }

    .project .project1 .right{
        flex: 100%;
       justify-content: center;
       margin: 0 auto 60px;

    }

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

.home{
    padding: 1rem 4rem;
 }
    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

}

@media (max-width:500px) {
    .home{
        padding: 1rem 4rem;
     }
    .home .home-content .text-1 {
        font-size: 20px;
    }

    .home .home-content .text-2 {
        font-size: 40px;
    }

    .home .home-content .text-3 {
        font-size: 20px;
    }
    /* .home{
        background-image: url(./image/backgroundimg.jpg);
    } */
}


@media only screen and (min-width: 280px) and (max-width:388px){
    .skills .tools{
        max-width: 100%;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns:repeat(2,82px);
        grid-template-rows: repeat(5,174px);  
        gap: 12px;
        margin: auto;
        border: 1px solid white;
        /* padding: 10px 10px; */
    }
    .skills .tools a{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        padding: 10px 10px;
        border: 1px solid white;
        margin: auto;
        object-fit: cover;

    }

   }

   /* github calendar */

:root {
    --color-calendar-graph-day-bg: #dddbdb;
    --color-calendar-graph-day-L1-bg: #39dd34;
    --color-calendar-graph-day-L2-bg: #45a045;
    --color-calendar-graph-day-L3-bg: #047526;
    --color-calendar-graph-day-L4-bg: #0a4208;
  }
  
  rect.ContributionCalendar-day[data-level='0'] {
      fill: var(--color-calendar-graph-day-bg);
  }
  
  rect.ContributionCalendar-day[data-level='1'] {
      fill: var(--color-calendar-graph-day-L1-bg);
  }
  
  rect.ContributionCalendar-day[data-level='2'] {
      fill: var(--color-calendar-graph-day-L2-bg);
  }
  
  rect.ContributionCalendar-day[data-level='3'] {
      fill: var(--color-calendar-graph-day-L3-bg);
  }
  
  rect.ContributionCalendar-day[data-level='4'] {
      fill: var(--color-calendar-graph-day-L4-bg);
  }
  
  .calendar .width-full > .float-left {
      display: none;
  }
  
  .calendar {
      font-family: Helvetica, arial;
      /* border: 3px solid #a32626; */
      border: 3px solid 00ffff;
      border-radius: 3px;
      /* min-height: 243px; */
      text-align: center;
      margin: 0 auto;
      background-color: black;
      color: white;
      /* width:95%; */
      padding: 2%;
  }
  
  .calendar-graph text.wday,
  .calendar-graph text.month {
      font-size: 10px;
      fill: #aaa;
  }
  
  .contrib-legend {
      text-align: right;
      padding: 0 14px 10px 0;
      display: inline-block;
      float: right;
  }
  
  .contrib-legend .legend {
      display: inline-block;
      list-style: none;
      margin: 0 5px;
      position: relative;
      bottom: -1px;
      padding: 0;
  }
  
  .contrib-legend .legend li {
      display: inline-block;
      width: 10px;
      height: 10px;
  }
  
  .text-small {
      font-size: 12px;
      color: #767676;
  }
  
  .calendar-graph {
      padding: 5px 0 0;
      text-align: center;
  }
  
  .contrib-column {
      padding: 15px 0;
      text-align: center;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      font-size: 11px;
  }
  
  .contrib-column-first {
      border-left: 0;
  }
  
  .table-column {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: top;
  }
  
  .contrib-number {
      font-weight: 300;
      line-height: 1.3em;
      font-size: 24px;
      display: block;
      color: rgb(140, 251, 96);
  }
  
  .calendar img.spinner {
      width: 70px;
      margin-top: 50px;
      min-height: 70px;
  }
  
  .monospace {
      text-align: center;
      color: #000;
      font-family: monospace;
  }
  
  .monospace a {
      /* color: #a32626; */
      color: 00ffff;
      text-decoration: none;
  }
  
  .contrib-footer {
      font-size: 11px;
      padding: 0 10px 12px;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      height: 26px;
  }
  
  .left.text-muted {
      float: left;
      margin-left: 9px;
      color: #767676;
  }
  .left.text-muted a {
      /* color: #a32626; */
      color: 00ffff;
      text-decoration: none;
  }
  .left.text-muted a:hover,
  .monospace a:hover {
      text-decoration: underline;
  }
  
  h2.f4.text-normal.mb-3 {
      display: none;
  }
  
  .float-left.text-gray {
      float: left;
  }
  #user-activity-overview{
      display:none;
  }
  
  .day-tooltip {
      white-space: nowrap;
      position: absolute;
      z-index: 99999;
      padding: 10px;
      font-size: 12px;
      color: #959da5;
      text-align: center;
      background: rgba(0,0,0,.85);
      border-radius: 3px;
      display: none;
      pointer-events: none;
  }
  .day-tooltip strong {
      color: #dfe2e5;
  }
  .day-tooltip.is-visible {
      display: block;
  }
  .day-tooltip:after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 5px;
      height: 5px;
      box-sizing: border-box;
      margin: 0 0 0 -5px;
      content: " ";
      border: 5px solid transparent;
      border-top-color: rgba(0,0,0,.85)
  }
  
  text.ContributionCalendar-label {
      fill: #ccc;
      font-size: 11px;
  }
  
  .contrib-column{
    display: none;
  }
  
  .stats{
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  /*  */
  
  /* github */
  
  
  #github-stats {
    padding: 100px 10px;
  }
  
  .github-stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
  }
  
  
  .github-stat {
    border-radius: 10px;
    /* position: relative; */
    overflow: hidden;
    cursor: pointer;
  }
  
  
  .github-stat img {
    width: 100%;
    border-radius: 10px;
    display: block;
    /* transition: transform 0.5s; */
    padding: 10px 30px;
  }
  
  .layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .container{
  text-align: center;
  }
  
  /* .github-st .title::after {
  content: "see my work";
  }
  .github-stat:hover img {
    transform: scale(1.1);
  } */
  
  @media (max-width: 690px) {
  
  .github-stat {
    width: 300px;
    font-size: 8px;
  }
  
  .github-stat {
  width: 100%;
  font-size: 8px;
  }
  .container{
  text-align: center;
  }
  
  .cont-box-1>img{
  width: 45px;
  height: 45px;
  }
  
  .github-stat>img{
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  }
  
  
  .github-stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
  }
  }
  
  @media (max-width: 500px) {
  .github-stat {
    width: 100%;
    font-size: 8px;
  }
  
  .github-stat>img{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }
  
  .github-stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
  }
  }
  
  /* github */